<div id="<%= dom_id question %>" class="my-4">
  <p>
    <strong>One:</strong>
    <%= question.one %>
  </p>

  <p>
    <strong>Two:</strong>
    <%= question.two %>
  </p>

  <p>
    <strong>Three:</strong>
    <%= question.three %>
  </p>
</div>
