<div id="<%= dom_id question %>" class="my-4">
  <p class="my-4">
    <%= question.one %>
  </p>

  <p class="my-4">
    <%= question.two %>
  </p>

  <p class="my-4">
    <%= question.three %>
  </p>

</div>
