<div id="<%= dom_id episode %>" class="flex border border-black rounded w-max">
  <p class="m-2">
    <%= episode.number %>
  </p>

  <p class="m-2 font-bold">
    <%= episode.title %>
  </p>

</div>
